@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #999;
  font-family: Roboto, serif;
  height: 100vh;
  width; 100vw;
}

label[for="finished"] {
  font-size: 1.1rem;
}

.add-book {
  align-items: start;
  box-shadow: 0 2px 4px #888;
  background: #eef;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  padding: 12px;
}

.add-book h1 {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.add-details {
  display: flex;
  grid-area: 3 / 1 / 4 / 3;
}

.add-details > div {
  width: 300px;
}

.add-form {
  display: grid;
  gap: 8px;
  grid-template: repeat(4, auto) / repeat(2, 1fr);
}

.add-form > * {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.add-form h2 {
  font-size: 1.2rem;
  grid-area: 1 / 1 / 2 / 3;
}

.add-form input {
  font-size: 1rem;
  padding: 4px;
}

.add-form input[placeholder] {
  width: 300px;
}

.add-form #submit {
  grid-area: 4 / 1 / 5 / 3;
}

.add-info {
  grid-area: 2 / 1 / 3 / 3;
}

.book {
  background: #fff;
  border-radius: 20px;
  border-top: 10px solid #ff0;
  box-shadow: 2px 2px 4px #222;
  display: grid;
  font-size: 1.1rem;
  gap: 12px;
  padding: 24px;
}

.book button {
  cursor: pointer;
  height: 40px;
  padding: 8px 12px 8px 12px;
  font-size: 1rem;
}

.book button:active {
  scale: 95%;
}

.book button:hover {
  outline: 2px solid #444;
}

.book-author {
  font-style: italic;
}

.book-edit {
  background: url("../images/edit.svg");
  background-color: #5ff;
}

.book-delete {
  background: url("../images/delete.svg");
  background-color: #f55;
}

.book-edit,
.book-delete {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 1px solid #444;
  border-radius: 5px;
  width: 70px;
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.button-finished {
  background: #5f5;
}

.button-not-finished {
  background: #ff0;
}

.container {
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  display: grid;
  grid-template: 2fr 8fr 1fr / 1fr;
  height: 100%;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.finished {
  border-top: 10px solid #5f5;
}

.footer {
  background: #faa;
  box-shadow: 0 -2px 4px #888;
}

.grayout {
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  background: rgba(16, 0, 16, 0.8);
  z-index: 9;
}

.library {
  align-content: start;
  background: #ccc;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow: auto;
  padding: 16px 8px 16px 8px;
}

.options {
  display: flex;
  gap: 16px;
}

.popup {
  background: #fff;
  border-radius: 18px;
  height: 400px;
  margin-bottom: 300px;
  max-width: 90%;
  width: 400px;
}

.popup button {
  border-radius: 10px;
  font-weight: bold;
}

.popup button:hover {
  cursor: pointer;
  border: 2px solid #444;
}

.popup h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.popup input {
  border-radius: 10px;
  border: 2px solid #444;
  padding: 8px;
  font-size: 1.1rem;
}

.popup input:focus {
  background: #5ff;
  outline: 2px solid #444;
}

#edit-cancel {
  background: #f55;
}

#edit-finished {
  width: 100%;
}

#edit-submit {
  background: #5ff;
}

#finished {
  margin-left: 16px;
  scale: 1.5;
}

#submit {
  background: #5ff;
  border-radius: 10px;
  border: 1px solid #111;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: 8px 12px 8px 12px;
  width: 300px;
}

#submit:active {
  scale: 0.98;
}
